In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("IRIS.csv")

In [7]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [17]:
df['%'] = 100 * df['sepal_length'] / df.groupby('species')['sepal_length'].transform('sum')
df['%'] = 100 * df['sepal_width'] / df.groupby('species')['sepal_width'].transform('sum')
df['%'] = 100 * df['petal_length'] / df.groupby('species')['petal_length'].transform('sum')
df['%'] = 100 * df['petal_width'] / df.groupby('species')['petal_width'].transform('sum')

print(df)

     sepal_length  sepal_width  petal_length  petal_width         species  \
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

            %
0    1.639344
1    1.639344
2    1.639344
3    1.639344
4    1.639344
..        ...
145  2.270484
146  1.875617
147  1.974334
148  2.270484
149  1.776900

[150 rows x 6 columns]

In [18]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species         %
0           5.1          3.5           1.4          0.2  Iris-setosa  1.639344
1           4.9          3.0           1.4          0.2  Iris-setosa  1.639344
2           4.7          3.2           1.3          0.2  Iris-setosa  1.639344
3           4.6          3.1           1.5          0.2  Iris-setosa  1.639344
4           5.0          3.6           1.4          0.2  Iris-setosa  1.639344

In [19]:
df.mean()

/tmp/ipykernel_5558/3698961737.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
%               2.000000
dtype: float64

In [20]:
df.median()

/tmp/ipykernel_5558/530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

sepal_length    5.800000
sepal_width     3.000000
petal_length    4.350000
petal_width     1.300000
%               1.960784
dtype: float64

In [61]:
import csv
def fmean(IRIS, sepal_width):
    total=0
    count=0
    with open(IRIS, 'r') as csvfile:
        reader= csv.DictReader(csvfile)
        for row in reader:
            total+= float(row[sepal_width])
            count+=1
        if count== 0:
            return 0
        else:
            return total/count

In [62]:
my_mean= fmean('IRIS.csv', 'sepal_width')
print(my_mean)

3.0540000000000007

In [57]:
import csv
def fmedian(IRIS, sepal_width):
    values=[]
    with open(IRIS, 'r') as csvfile:
        reader= csv.DictReader(csvfile)
        for row in reader:
            values.append(float(row[sepal_width]))
    no = len(values)
    numb=sorted(values)
    if no % 2 == 0:
        median1 = numb[no//2]
        median2 = numb[no//2 - 1]
        median = (median1 + median2)/2
    else:
        median = numb[no//2]
    return median

In [58]:
my_median= fmedian('IRIS.csv', 'sepal_width')
print(my_median)

3.0

In [67]:
import csv
import statistics
def fmode(IRIS, sepal_width):
    values=[]
    with open(IRIS, 'r') as csvfile:
        reader= csv.DictReader(csvfile)
        for row in reader:
            values.append(float(row[sepal_width]))
        try:
            mode = statistics.mode((values))
        except statistics.StatisticsError:
            mode=None
        return mode

In [68]:
my_mode= fmode('IRIS.csv', 'sepal_width')
print(my_mode)

3.0

In [73]:
import csv
import statistics
def fvariance(IRIS, sepal_width):
    values=[]
    with open(IRIS, 'r') as csvfile:
        reader= csv.DictReader(csvfile)
        for row in reader:
            values.append(float(row[sepal_width]))
        variance=statistics.variance(values)
        return variance

In [74]:
my_variance= fvariance('IRIS.csv', 'sepal_width')
print(my_variance)

0.18800402684563758